*.pyc
.DS_Store
build/*
django_streamfield.egg-info/*
test_project/db.sqlite3
package-lock.json
frontend/node_modules/*
streamfield/static/streamfield/index.html
streamfield/static/streamfield/streamfield_widget.js.LICENSE.txt